@model VRStore.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#videoSlider').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: true,
                centerMode: true,
                focusOnSelect: true
            });
        });
    </script>
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
}
<div class="jumbotron">
    <h1>Video Rental</h1>
    <p class="lead">Rent movies from us.</p>
    <div id="videoSlider">
        @{
            foreach (var video in Model.Videos.Where(v => v.AvailableCopies > 0))
            {

                <div class="container">
                    <div class="videoTitle">@video.Title</div>
                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("Rent", "Videos", new { id=video.ID })" class="btn btn-default">Rent</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="btn btn-default">Log in to Rent</a>
                    }

                </div>

            }
        }

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Read Me!</h2>
        <p>
            This is the ASP.NET version of the 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>